POSTGRES_DB=health_arch_fabric
POSTGRES_ADMIN_USER=health_arch_fabric_admin
POSTGRES_ADMIN_PASSWORD=replace-with-admin-password
APP_DB_USER=health_arch_fabric_app
APP_DB_PASSWORD=replace-with-app-password
POSTGRES_PORT=55433

FABRIC_BIN_PATH=/home/khcha/projects/fabric-samples/bin
FABRIC_CFG_PATH=/home/khcha/projects/fabric-samples/config
FABRIC_VERSION=2.5.15
CHANNEL_NAME=healthchannel
CHAINCODE_NAME=healthrecords
CHAINCODE_VERSION=1.0
CHAINCODE_SEQUENCE=1

ORDERER_PORT=27050
ORDERER_ADMIN_PORT=27053
ORDERER_OPERATIONS_PORT=29443
ORG1_PEER_PORT=27051
ORG1_OPERATIONS_PORT=29444
ORG2_PEER_PORT=29051
ORG2_OPERATIONS_PORT=29445
GATEWAY_BRIDGE_PORT=18081
